## SQLite3

## Here we no need to give any predefined installation or setup ,like download the databse and connect it the IP nothing is required
## just want to import sqlite3 and execute the command to operation in the database

In [15]:
import sqlite3 as sq
connection = sq.connect('example.db')
cursor = connection.cursor()
cursor.execute(
    '''
    create table if not exists employee(
        id Integer,
        name varchar(40),
        phone int(10),
        age int(3)
    )
'''
)
connection.commit()

In [8]:
cursor.execute(
    '''
    create table if not exists employee1(
        id Integer primary key,
        name varchar(40) not null,
        phone int(10) unique,
        age int(3) not null
    )
'''
)

In [7]:
cursor.execute(
    '''
    select * from employee
'''
)

In [14]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table in tables:
    print(table[0])

employee
employee1

In [ ]:
cursor.execute(
    '''
    insert into employee values(37373,'sakhivel',9090808080,19);
'''
)

In [19]:
cursor.executescript(
    '''
    insert into employee values(73333,'nithiya',7810029297,19);
    insert into employee values(73345,'sam',7904601132,50);
    insert into employee values(73367,'faizan',7200200447,50);
'''
)

In [24]:
cursor.execute(
    '''
    select * from employee;
'''
)

rows = cursor.fetchall()   ##fetchmany will fetch one record
for row in rows:
    print(row)

(37373, 'sakhivel', 9090808080, 19)
(73333, 'nithiya', 7810029297, 19)
(73345, 'sam', 7904601132, 50)
(73367, 'faizan', 7200200447, 50)

In [31]:
## update 
cursor.execute("update employee set age = age + 3;")
connection.commit()

In [32]:
cursor.execute("select * from employee;")
rows  = cursor.fetchall()
for row in rows:
    print(row)

(37373, 'sakhivel', 9090808080, 28)
(73333, 'nithiya', 7810029297, 28)
(73345, 'sam', 7904601132, 59)
(73367, 'faizan', 7200200447, 59)

In [ ]:
cursor.execute("PRAGMA table_info(employee);")
columns = cursor.fetchall()

for col in columns:
    print(col)            ## the describe of the table

(0, 'id', 'INTEGER', 0, None, 0)
(1, 'name', 'varchar(40)', 0, None, 0)
(2, 'phone', 'int(10)', 0, None, 0)
(3, 'age', 'int(3)', 0, None, 0)

In [33]:
cursor.execute("delete from employee where name = 'faizan'")

In [34]:
cursor.execute("select * from employee;")
rows  = cursor.fetchall()
for row in rows:
    print(row)

(37373, 'sakhivel', 9090808080, 28)
(73333, 'nithiya', 7810029297, 28)
(73345, 'sam', 7904601132, 59)

In [1]:
import sqlite3 as sq
connection = sq.connect('selaes_database')
cursor = connection.cursor()

cursor.execute(
    '''
    create table sales1(
    id Integer primary key,
    date date,
    sales Integer,
    region text
    )
'''
)

sales_db = [
    ('2025-12-16',100,'North'),
    ('2,25-12-15',120,'South'),
    ('2,025-12-11',130,'East'),
    ('2025-12-10',140,'west'),
    ('2024-07-09',190,'North')
]

cursor.executemany("insert into sales1 values(?,?,?,?);",sales_db)
connection.commit()
connection.close()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 4, and there are 3 supplied.

In [53]:
import sqlite3 as sq

connection = sq.connect('selaes_database')  # or 'sales_database' if that's the correct name
cursor = connection.cursor()

cursor.execute("DROP TABLE IF EXISTS sales;")  # Safe: won’t raise error if table doesn't exist

connection.commit()
connection.close()

OperationalError: database is locked

In [55]:
import os

# Path to your SQLite DB file
db_file = 'selaes_database'  # Add .db if it has that extension

# Try to close all potential connections first
try:
    import sqlite3
    sqlite3.connect(db_file).close()
except Exception:
    pass  # Ignore if already locked

# Now force delete
try:
    os.remove(db_file)
    print("Database deleted successfully.")
except PermissionError:
    print("File is locked by another process. Try closing all scripts or restart your system.")
except FileNotFoundError:
    print("File not found.")

File is locked by another process. Try closing all scripts or restart your system.

In [4]:
import sqlite3 as sq
connection = sq.connect('test.db')

cursor = connection.cursor()

cursor.execute(
    '''create table if not exists employees(
    id Integer,
    name text,
    age Integer,
    department text  
)'''
)
connection.commit()
connection.close()

In [6]:
import sqlite3 as sq
connection = sq.connect('test.db')

cursor = connection.cursor()

In [8]:
cursor.execute("insert into employees values(2373,'sakthivel',82,'IT')")

In [10]:
employee = [
    (2374,'nithiya',19,'IT'),
    (23838,'sam',90,'Database'),
    (7373,'faizan',92,'full_stack')
]
cursor.executemany("insert into employees values(?,?,?,?) ",employee)

In [12]:
rows =   cursor.execute("select * from employees")
for row in rows:
    print(row)

(2373, 'sakthivel', 82, 'IT')
(2374, 'nithiya', 19, 'IT')
(23838, 'sam', 90, 'Database')
(7373, 'faizan', 92, 'full_stack')

In [14]:
row = cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(2373, 'sakthivel', 82, 'IT')
(2374, 'nithiya', 19, 'IT')
(23838, 'sam', 90, 'Database')
(7373, 'faizan', 92, 'full_stack')

In [24]:
cursor.execute("update employees set department = 'AI and ML' where id in (2373,2374);")

In [29]:
row = cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(2373, 'sakthivel', 82, 'AI and ML')
(2374, 'nithiya', 19, 'AI and ML')
(23838, 'sam', 90, 'Database')
(7373, 'faizan', 92, 'full_stack')

In [ ]:
import sqlite3 as sq

def insert_multiple_employees(employee_list):
    """
    Inserts multiple employee records into the 'employees' table.
    Rolls back the entire transaction if any insert fails.
    
    Parameters:
        employee_list (list of tuples): Each tuple contains (id, name, age, department)
    """
    connection = sq.connect('test.db')
    cursor = connection.cursor()

    try:
        cursor.executemany(
            "INSERT INTO employees (id, name, age, department) VALUES (?, ?, ?, ?);",
            employee_list
        )
        connection.commit()
        print("All employee records inserted successfully.")
    except Exception as e:
        connection.rollback()
        print("Insertion failed. Transaction rolled back.")
        print("Error:", e)
    finally:
        connection.close()

employees = [
    (1001, "Alice", 28, "HR"),
    (1002, "Bob", 35, "Engineering"),
    (1003, "Charlie", 30, "Marketing")
]

insert_multiple_employees(employees)

Insertion failed. Transaction rolled back.
Error: database is locked

In [27]:
row = cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(2373, 'sakthivel', 82, 'AI and ML')
(2374, 'nithiya', 19, 'AI and ML')
(23838, 'sam', 90, 'Database')
(7373, 'faizan', 92, 'full_stack')

In [33]:
def update_multiple_ages(age_updates):
    """
    Updates age for multiple employees.
    Rolls back the transaction if any update fails.
    
    Parameters:
        age_updates (list of tuples): Each tuple contains (new_age, employee_id)
    """
    connection = sq.connect('test.db')
    cursor = connection.cursor()

    try:
        cursor.executemany(
            "UPDATE employees SET age = ? WHERE id = ?;",
            age_updates
        )
        connection.commit()
        print("All ages updated successfully.")
    except Exception as e:
        connection.rollback()
        print("Update failed. Transaction rolled back.")
        print("Error:", e)
    finally:
        connection.close()
age_changes = [
    (29, 1001),
    (36, 1002),
    (31, 1003)
]

update_multiple_ages(age_changes)

Update failed. Transaction rolled back.
Error: database is locked

In [ ]:
import sqlite3 as sq

connection = sq.connect('department.db')

In [35]:
import sqlite3 as sq
connection = sq.connect('test1.db')

cursor = connection.cursor()

cursor.execute(
    '''create table if not exists employees(
    id Integer,
    name text,
    age Integer,
    department text  
)'''
)
connection.commit()
connection.close()

In [36]:
import sqlite3 as sq

def insert_multiple_employees(employee_list):
    """
    Inserts multiple employee records into the 'employees' table.
    Rolls back the entire transaction if any insert fails.
    
    Parameters:
        employee_list (list of tuples): Each tuple contains (id, name, age, department)
    """
    connection = sq.connect('test1.db')
    cursor = connection.cursor()

    try:
        cursor.executemany(
            "INSERT INTO employees (id, name, age, department) VALUES (?, ?, ?, ?);",
            employee_list
        )
        connection.commit()
        print("All employee records inserted successfully.")
    except Exception as e:
        connection.rollback()
        print("Insertion failed. Transaction rolled back.")
        print("Error:", e)
    finally:
        connection.close()

employees = [
    (1001, "Alice", 28, "HR"),
    (1002, "Bob", 35, "Engineering"),
    (1003, "Charlie", 30, "Marketing")
]

insert_multiple_employees(employees)

All employee records inserted successfully.

In [38]:
import sqlite3 as sq
connection = sq.connect('test1.db')
cursor = connection.cursor()


employee = [
    (2374,'nithiya',19,'IT'),
    (23838,'sam',90,'Database'),
    (7373,'faizan',92,'full_stack')
]
cursor.executemany("insert into employees values(?,?,?,?) ",employee)

In [40]:
cursor.execute("select * from employees")
rows = cursor.fetchall()
for i in rows:
    print(i)
connection.commit()
connection.close()

(1001, 'Alice', 28, 'HR')
(1002, 'Bob', 35, 'Engineering')
(1003, 'Charlie', 30, 'Marketing')
(2374, 'nithiya', 19, 'IT')
(23838, 'sam', 90, 'Database')
(7373, 'faizan', 92, 'full_stack')

In [46]:
import sqlite3 as sq
connection = sq.connect('test1.db')

cursor = connection.cursor()
cursor.execute(
    '''create table if not exists department(
        id integer primary key,
        name text
    )'''
)
connection.commit()
connection.close()

In [45]:
import sqlite3 as sq
connection = sq.connect('test1.db')

cursor = connection.cursor()
cursor.execute("drop table department")

In [ ]:
import sqlite3 as sq
connection = sq.connect('test1.db')
cursor =  connection.cursor()

cursor.execute("update employees add foreign key as fk_id")

In [47]:
import sqlite3 as sq
connection = sq.connect('test1.db')
cursor =  connection.cursor()


cursor.execute("ALTER TABLE employees ADD COLUMN fk_id INTEGER;")

In [3]:
import sqlite3 as sq
connection = sq.connect('test1.db')
cursor =  connection.cursor()
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1001, 'Alice', 28, 'HR', None)
(1002, 'Bob', 35, 'Engineering', None)
(1003, 'Charlie', 30, 'Marketing', None)
(2374, 'nithiya', 19, 'IT', None)
(23838, 'sam', 90, 'Database', None)
(7373, 'faizan', 92, 'full_stack', None)

In [28]:
cursor.execute("create INDEX name_idx on employees(name)")

In [16]:
cursor.execute("Drop INDEX if exists name_idx")

In [ ]:
import sqlite3
import time

def fetch_employees_by_letter(letter, with_index=True):
    # Connect to SQLite database
    conn = sqlite3.connect("test1.db")  # Replace with your database name
    cursor = conn.cursor()

    # # Create table and sample data if needed
    # cursor.execute("""
    #     CREATE TABLE IF NOT EXISTS employees (
    #         id INTEGER PRIMARY KEY,
    #         name TEXT,
    #         age INTEGER,
    #         department TEXT
    #     )
    # """)

    # Optional: Insert dummy data (run once)
    # for i in range(1, 10001):
    #     cursor.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)",
    #                    (f"Name{i}", 20 + i % 30, f"Dept{i % 5}"))
    # conn.commit()

    # Create or drop index based on flag
    if with_index:
        cursor.execute("CREATE INDEX IF NOT EXISTS idx_name ON employees(name)")
    else:
        cursor.execute("DROP INDEX IF EXISTS idx_name")

    conn.commit()

    # Perform query and measure time
    start = time.time()
    cursor.execute("SELECT * FROM employees WHERE name LIKE ?", (letter + '%',))
    results = cursor.fetchall()
    end = time.time()

    print(f"\n{'With' if with_index else 'Without'} index - Time taken: {end - start:.6f} seconds")
    print(f"Found {len(results)} result(s) starting with '{letter}'")

    # Optional: print a few results
    for row in results:
        print(row)

    cursor.close()
    conn.close()

In [29]:
import time as t
start = t.time()
cursor.execute("select * from employees where name like ?",('n'+ '%',))
rows = cursor.fetchall()
for row in rows:
    print(row)
end = t.time()

print(f"{end - start:.6f}")

(2374, 'nithiya', 19, 'IT', None)
0.000798

In [ ]:
import time as t
start = t.time()
cursor.execute("select * from employees where name like ?",('n'+ '%',))
rows = cursor.fetchall()
for row in rows:
    print(row)
end = t.time()


print(f"{end - start:.6f}")

(2374, 'nithiya', 19, 'IT', None)
0.000845

In [33]:
import sqlite3
import shutil

original = "test.db"
backup = "backup.db"

try:
    shutil.copyfile(original,backup)
except Exception as e:
    print(e)

In [35]:
import shutil

def restore_database():
    try:
        backup_db = 'backup.db'
        restored_db = 'test.db'
        
        # Overwrite test.db with backup.db
        shutil.copyfile(backup_db, restored_db)
        print(f"✅ Restore completed: '{backup_db}' → '{restored_db}'")
        
    except Exception as e:
        print("❌ Error during restore:", e)