In [3]:
import pandas as pd
import numpy as np
np.random.seed(123)


n_samples = 1000
n_class_0_ration = 0.9
n_class_0 = int(n_samples * n_class_0_ration)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
df_majority = pd.DataFrame(
    {
        'feature1' : np.random.normal(loc = 0,scale=1,size = n_class_0),
        'feature2' : np.random.normal(loc = 0,scale =1,size = n_class_0),
        'target' : [0] * n_class_0
    }
)

df_minority = pd.DataFrame({
    'feature1' : np.random.normal(loc = 1,scale = 2,size = n_class_1),
    'feature2' : np.random.normal(loc = 1,scale = 2,size = n_class_1),
    'target' : [1] * n_class_1
})

In [22]:
df = pd.concat([df_majority,df_minority]).reset_index(drop = True)
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995 -0.247258  2.691402       1
996  1.479619 -1.239845       1
997 -0.736479  0.281407       1
998  2.804013 -2.219390       1
999  2.394980  1.027140       1

[1000 rows x 3 columns]

In [23]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [24]:
from sklearn.utils import resample

df_minority_upsampled = resample(
    df_minority,replace=True,
    n_samples= len(df_majority),
    random_state=42
)

In [28]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])
df_upsampled

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
952 -0.622196  1.378378       1
965  4.839053  0.961082       1
976  2.620651  4.209228       1
942  4.243061  1.336457       1
974 -0.678225  1.978407       1

[1800 rows x 3 columns]

In [31]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64