In [1]:
import numpy as np
import pandas as pd
np.random.seed(123)

n_samples = 1000
n_class_0_ratio = 0.9
n_class_0 = int(n_samples * n_class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [3]:
class_0 = pd.DataFrame({
    'feature1' : np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'feature2' : np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'target' : [0] * n_class_0
}
)

class_1 = pd.DataFrame({
    'feature1' : np.random.normal(loc = 2,scale=1,size = n_class_1),
    'feature2' : np.random.normal(loc = 2,scale = 1,size = n_class_1),
    'target' : [1] * n_class_1     
})

In [15]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)


## Without using the .reset_index(drop = True) The two dataframes are concat usually --> means it is the 
# first dataframe index 0,1,2,3,4,5...ect and second dataframe index 0,1,2,3,4,5...ect to reset the index and make it 
# is 0,1,2,3,4 
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [12]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [9]:
df.tail()

     feature1  feature2  target
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [16]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [17]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True,
            n_samples=len(df_majority),
            random_state=42
)

In [18]:
df_minority_upsampled.shape

(900, 3)

In [20]:
df_minority_upsampled.head()

     feature1  feature2  target
951  1.125854  1.843917       1
992  2.196570  1.397425       1
914  1.932170  2.998053       1
971  2.272825  3.034197       1
960  2.870056  1.550485       1

In [21]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [22]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [23]:
df_upsampled

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
952  1.188902  2.189189       1
965  3.919526  1.980541       1
976  2.810326  3.604614       1
942  3.621531  2.168229       1
974  1.160887  2.489203       1

[1800 rows x 3 columns]

## Down sampling

In [18]:
import pandas as pd
import numpy as np

np.random.seed(123)

n_samples = 1000
n_class_0_ratio = 0.9
n_class_0 = int(n_samples * n_class_0_ratio)
n_class_1 = n_samples - n_class_0


df_majority = pd.DataFrame({
    'feature1' : np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'feature2' : np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'target' : [0] * n_class_0
})
df_minority = pd.DataFrame({
    'feature1' : np.random.normal(loc = 1,scale= 2,size = n_class_1),
    'feature2' : np.random.normal(loc = 1,scale = 2,size = n_class_1),
    'target' : [1] * n_class_1
})

df = pd.concat([df_majority,df_minority]).reset_index(drop = True)

In [20]:
## downsampling 
from sklearn.utils import resample

df_down_majority = resample(
    df_majority,replace=False,
    n_samples=len(df_minority),
    random_state=42
)
df_down_majority.head()

     feature1  feature2  target
70   0.468439  1.720920       0
827  1.089165 -0.464899       0
231  0.753869 -0.969798       0
588  0.588686 -0.704720       0
39   0.283627  1.012868       0

In [23]:
df_downsampled = pd.concat([df_down_majority,df_minority])
df_downsampled

     feature1  feature2  target
70   0.468439  1.720920       0
827  1.089165 -0.464899       0
231  0.753869 -0.969798       0
588  0.588686 -0.704720       0
39   0.283627  1.012868       0
..        ...       ...     ...
95  -0.247258  2.691402       1
96   1.479619 -1.239845       1
97  -0.736479  0.281407       1
98   2.804013 -2.219390       1
99   2.394980  1.027140       1

[200 rows x 3 columns]

In [24]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [25]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64

## But mostly we are try to make the upsampling, because it will not drop or reduce that data that we have, but downsampling does that