In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [4]:
df.shape

(10683, 11)

In [5]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [ ]:
df["date"]=df['Date_of_Journey'].str.split('/').str[0]
df["month"]=df["Date_of_Journey"].str.split('/').str[1]
df["year"] = df["Date_of_Journey"].str.split('/').str[2]

In [12]:
df["date"] = df["date"].astype(int)
df["month"] = df["month"].astype(int)
df["year"] = df["year"].astype(int)

In [ ]:

df.drop('Date_of_Journey',axis=1,inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  date             10683 non-null  int32
 11  month            10683 non-null  int32
 12  year             10683 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 959.9+ KB

In [19]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [20]:
df['Arrival_Time'].unique()

array(['01:10 22 Mar', '13:15', '04:25 10 Jun', ..., '06:50 10 Mar',
       '00:05 19 Mar', '21:20 13 Mar'], dtype=object)

In [22]:
df["Arrival_Time"] = df["Arrival_Time"].str.split(" ").str[0]

In [24]:
df['arr_hour'] = df['Arrival_Time'].str.split(":").str[0]

In [25]:
df['arr_min'] = df['Arrival_Time'].str.split(":").str[1]

In [27]:
df['arr_hour'] = df['arr_hour'].astype(int)
df['arr_min'] = df['arr_min'].astype(int)

In [28]:
df.drop("Arrival_Time",axis=1,inplace=True)

In [30]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,arr_hour,arr_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10

In [33]:
df["dep_hour"] = df["Dep_Time"].str.split(":").str[0]

In [34]:
df["dep_min"] = df["Dep_Time"].str.split(":").str[1]

In [35]:
df["dep_hour"] = df["dep_hour"].astype(int)
df["dep_min"]= df["dep_min"].astype(int)

In [36]:
df.drop("Dep_Time",axis=1,inplace=True)

In [42]:
df['dur_hour'] = df["Duration"].str.replace("h"," ").str[0]

In [55]:
df["dur_minute"]=df["Duration"].str.replace('h'," ").str.replace("m", " ").str.split(" ").str[2]

In [67]:
df["dur_minute"].mode()[0]

'30'

In [68]:
df["dur_minute"] = df["dur_minute"].fillna(df["dur_minute"].mode()[0])

In [69]:
df["dur_minute"].isnull().sum()

0

In [70]:
df["dur_hour"] = df["dur_hour"].astype(int)
df["dur_minute"] = df["dur_minute"].astype(int)

In [72]:
df.drop("Duration",axis=1,inplace=True)

In [73]:
df.head(1)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,date,month,year,arr_hour,arr_min,dep_hour,dep_min,dur_hour,dur_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2019,1,10,22,20,2,50

In [77]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
df['Total_Stops'] = (
    df['Total_Stops'].replace({
        "non-stop": 1,
        "1 stop": 1,
        "2 stops": 2,
        "3 stops": 3,
        "4 stops": 4
    })
    .fillna(1)
    .astype(int)
)

In [88]:
df.head(1)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,date,month,year,arr_hour,arr_min,dep_hour,dep_min,dur_hour,dur_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,1,No info,3897,24,3,2019,1,10,22,20,2,50

In [91]:
print(df['Additional_Info'].unique(),"\n")
print(df['Airline'].unique(),"\n")
print(df["Source"].unique(),"\n")
df['Destination'].unique()

['No info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' 'No Info' '1 Long layover' 'Change airports'
 'Business class' 'Red-eye flight' '2 Long layover']

['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']

['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [97]:
df.head(1)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,date,month,year,arr_hour,arr_min,dep_hour,dep_min,dur_hour,dur_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,1,No info,3897,24,3,2019,1,10,22,20,2,50

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Total_Stops      10683 non-null  int32
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   date             10683 non-null  int32
 8   month            10683 non-null  int32
 9   year             10683 non-null  int32
 10  arr_hour         10683 non-null  int32
 11  arr_min          10683 non-null  int32
 12  dep_hour         10683 non-null  int32
 13  dep_min          10683 non-null  int32
 14  dur_hour         10683 non-null  int32
 15  dur_minute       10683 non-null  int32
dtypes: int32(10), int64(1), object(5)
memory usage: 918.2+ KB

In [99]:
from sklearn.preprocessing import LabelEncoder

for col in ['Airline','Source','Destination','Additional_Info']:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  int32
 1   Source           10683 non-null  int32
 2   Destination      10683 non-null  int32
 3   Route            10682 non-null  object
 4   Total_Stops      10683 non-null  int32
 5   Additional_Info  10683 non-null  int32
 6   Price            10683 non-null  int64
 7   date             10683 non-null  int32
 8   month            10683 non-null  int32
 9   year             10683 non-null  int32
 10  arr_hour         10683 non-null  int32
 11  arr_min          10683 non-null  int32
 12  dep_hour         10683 non-null  int32
 13  dep_min          10683 non-null  int32
 14  dur_hour         10683 non-null  int32
 15  dur_minute       10683 non-null  int32
dtypes: int32(14), int64(1), object(1)
memory usage: 751.3+ KB

In [104]:
df["route_des"] = df["Route"].str.split("→").str[0]

In [105]:
df.drop("Route",axis=1,inplace=True)
df.drop("route_des",axis=1,inplace=True)

In [106]:
df.head(1)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,date,month,year,arr_hour,arr_min,dep_hour,dep_min,dur_hour,dur_minute
0,3,0,5,1,8,3897,24,3,2019,1,10,22,20,2,50

In [109]:
df.to_csv('flight_price.csv')