In [2]:
print("hshsh")

hshsh

In [1]:
def mul(num1,num2):
    return num1 * num2
mul(10,20)

200

In [4]:
def pos_args(*args):
    for i in args:
        print(i)
pos_args(1,2,3,4,5,5,6,76,6,7,7,"sakthivel")

1
2
3
4
5
5
6
76
6
7
7
sakthivel

In [7]:
def greet(name = "saga"):
    print(name)
greet("skathivel") # if there is no arguments are passed then it will take the  "saga" as agruments if any arguments are passed then it take that parameter as an argument

skathivel

In [12]:
def key_value(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")
dict = {"name": "saga" , "age" : 90,"mark" : 100}
key_value(name = "sakthivel",age = 19,mark = 100)
key_value(**dict)# second way is create an dict and pass that as paramenter (the ** is must)

name: sakthivel
age: 19
mark: 100
name: saga
age: 90
mark: 100

In [22]:
def pos_args(*args,**kwargs):
    for i in args:
        print(i)
dict = {"name": "saga" , "age" : 90,"mark" : 100}
pos_args(1,2,3,4,5,5,6,76,6,7,7,"sakthivel",dict)   # so in this combination of both args and kwargs need to follow the order , first args and kwargs not vise verse

1
2
3
4
5
5
6
76
6
7
7
sakthivel
{'name': 'saga', 'age': 90, 'mark': 100}

In [ ]:
addition = lambda a,b:a+b
type(addition)
print(addition(5,5)) # here what we doing is that we are creating the function with specific defination or name

10

In [24]:
#map function
def square(num):
    return num**2
square(2)

4

In [25]:
number = [1,2,3,4,5]
list(map( lambda num: num **2 , number))

[1, 4, 9, 16, 25]

In [ ]:
#map function
def square(num):
    return num**2
square(2)

In [30]:
print(list[map(square,number)])
list(map(square,number))

list[<map object at 0x000001975CE795A0>]

[1, 4, 9, 16, 25]

In [33]:
#map multiple list

num1 = [1,2,3]
num2 = [4,5,6]

list(map(lambda x,y:x+y  , num1,num2))

[5, 7, 9]

In [34]:
#convert list of strings to the integer

numbers = ['1','2','3','4','5']
list(map(int,numbers))

[1, 2, 3, 4, 5]

In [38]:
# we can apply any build-in functions alo 

words = ["sakthivel","faizan","vinoth","sam"]
list(map(str.upper,words))

['SAKTHIVEL', 'FAIZAN', 'VINOTH', 'SAM']

In [41]:
def get_name(person):
    return person['name'],person['age']

people = [
    {'name' : "sakthivel" , 'age' : 19},
    {'name' : "sam" , 'age' : 19}
]
list(map(get_name,people))   # note here while calling the function we should not use the ()  like get_name()  not required

[('sakthivel', 19), ('sam', 19)]

In [43]:
number  = [1,2,3,4,5]
def even(num):
    return num%2 == 0

print(filter(even,number))
print(list(filter(even,number)))

<filter object at 0x000001975CE0B910>
[2, 4]

In [44]:
number = [1,2,3,4,5,6,7,8]
list(filter(lambda x:x%2 == 0 ,number))

[2, 4, 6, 8]

In [45]:
# filter lambda with multiply conditions
# like even and greater than 3
number = [1,2,3,4,5,6,7,8]
list(filter(lambda x:x%2 == 0  and x>3 ,number))

[4, 6, 8]

In [19]:
# apply lambda function in the dictionary

# age is greater then 18


data =[{'name':"sakthivel",'age':19},
       {'name':"saga",'age' : 17}]

res = list(filter(lambda ss:ss['age']>18,data))
print(res)

[{'name': 'sakthivel', 'age': 19}]

In [24]:
import math
math.ceil(10 / 3)

4

In [ ]:
number = [1,2,3,4,5]
tuple((x,y for x in number if x % 2 == 0 ))

(1, 2, 3, 4, 5)

In [ ]:

lst =  [1, 7, 3, 10, 5]

def max_consecutive_difference(lst):
    if len(lst) < 2:
        return 0
    else:
        for i in range(1,len(lst)):

In [ ]:
import math

lst =  [1, 7, 3, 10, 5]
for i in range(0,len(lst)):
    if len(lst)-1 != i:
        lst2.append(abs(lst[i] - lst[i+1]))
print(max(lst2))

7

In [ ]:

def rotate_list(lst, k):
    k = k % len(lst)  
    lst2 = []
    for _ in range(k):  
        lst2.append(lst.pop())  
    lst2.reverse()
    for i in lst:
        lst2.append(i)  

    return lst2

lst =  [1, 7, 3, 10, 5]
res = rotate_list(lst,2)
print(res)

[10, 5, 1, 7, 3]

In [48]:
sentence = "hello world hello"
lst = sentence.split(" ")
ans = {}
for i in lst:
    ans[i] = lst.count(i)
print(ans)

{'hello': 2, 'world': 1}

In [ ]:
lst =  (1, 7, 3, 10, 5)
l = list(lst)
l.reverse()

print(tuple(l) == lst)

False

In [ ]:
lst = [{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'c': 5, 'd': 6}]

ans = {}
for i in lst:
    for key,value in i.items():
        if key not in ans:
            ans[key] = value
        else:
            ans[key]  += value
print(ans)

{'a': 1, 'b': 5, 'c': 9, 'd': 6}

In [61]:
from package import maths


maths.addition(4,1)

5

In [62]:
from package.saga.mm import subtract
subtract(1,9)

-8

In [24]:
import array
array.array('B',[1]) #must be b, B, u, h, H, i, I, l, L, q, Q, f or d


import random
print(random.randint(1,10))
print(random.choice(["sakthivel","faizan","vasu"]))

6
vasu

In [2]:
import os
os.getcwd()

'c:\\Users\\sakth\\OneDrive\\Desktop\\ml_saga\\saga\\sakthivel'

In [9]:
os.getcwd()

'c:\\Users\\sakth\\OneDrive\\Desktop\\ml_saga\\saga\\sakthivel'

In [ ]:
os.mkdir("saga1")

In [4]:
os.rmdir("saga1")
os.remove("ss.txt")

In [ ]:
os.makedirs("saga1",exist_ok=True)    #create the directory if not exists

with open("ss.txt","w") as f:   #try to open the file , if not exists then create that file and write the content
    f.write("The file is full path")

In [ ]:
import shutil as s
s.copyfile('saga.txt','saa.txt')   # copy the one file content to the another file

In [ ]:
import json as j
data = {'name':"sakthivel",'age':19}
data1 = [1,2,3,3,4]
str2 = j.dumps(data1)
print(str2)  
print(type(str2))
print(type(data))
print(data)                                    # this j.dumps(any_iterable_data_structure )   this is not only for list and dict for any data structure 
str1 =j.dumps(data)
print(str1)
type(str1)

[1, 2, 3, 3, 4]
<class 'str'>
<class 'dict'>
{'name': 'sakthivel', 'age': 19}
{"name": "sakthivel", "age": 19}

str

In [ ]:
d = j.loads(str1)
print(d)
type(d)
d1 = j.loads(str2)     # here also the loads(any_iterable_data_structures) not only for dict and list for any iterable data structure
print(d1)

{'name': 'sakthivel', 'age': 19}
[1, 2, 3, 3, 4]

In [40]:
import csv

with open('example.csv',mode = 'w', newline='') as file:
    wr = csv.writer(file)
    wr.writerow(['name','age'])
    wr.writerow(["sakthivel",19])

with open('example.csv',mode = 'r') as file:
    re = csv.reader(file)
    for i in re:
        print(i)

['name', 'age']
['sakthivel', '19']

In [ ]:
from  datetime import datetime,timedelta
now = datetime.now()

print(now)

yesterday = now - timedelta(days = 1)
print(yesterday)

2025-05-24 11:36:56.075028
2025-05-23 11:36:56.075028

In [49]:
import time as t
print(t.time())
t.sleep(10)
t.localtime()

1748066992.3292372

time.struct_time(tm_year=2025, tm_mon=5, tm_mday=24, tm_hour=11, tm_min=40, tm_sec=2, tm_wday=5, tm_yday=144, tm_isdst=0)

In [58]:
import re

pattern = r'\d+'

st = "hi 123 sakthivel 456"
st1 = '123'
search = re.search(pattern,st)
match = re.match(pattern,st1)
print(match)
print(search.group())

<re.Match object; span=(0, 3), match='123'>
123

In [ ]:

# Create a new directory
os.mkdir('new_directory')

# List contents of the current directory
print(os.listdir('.'))
os.rmdir('new_directory')